<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/60f8acbb-80ff-4940-af64-7c7a33be16c7/resourcegroups/eduresource/providers/Microsoft.ContainerRegistry/registries/weatherApi234</ContainerResourceId>
    <ContainerResourceName>weatherApi234</ContainerResourceName>
    <Subscription>MSDN Platforms Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>weatherapi234.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://weatherapi222.scm.azurewebsites.net/</SCMUrl>
    <ResourceId>/subscriptions/60f8acbb-80ff-4940-af64-7c7a33be16c7/resourceGroups/eduresource/providers/Microsoft.Web/sites/weatherApi222</ResourceId>
    <ResourceGroup>eduresource</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://weatherapi222.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d00e5329-7f50-4383-b287-c6b7f5a8f7c1</ProjectGuid>
  </PropertyGroup>
</Project>